/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
  background-color: #faf3e0;
  color: #605f4b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

/* Headings */
h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  color: #9c9e80;
  margin-bottom: 0.5em;
}

.main-heading {
  text-align: center;
}

/* Links */
a {
  color: #9c9e80;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #9c9e80;
}

/* Buttons */
button {
  background-color: #cdad85;
  color: #f9f4ea;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #9c9e80;
}

.navbar {
  background-color: #cdad85;
  color: #f9f4ea;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease-in-out;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.content-images {
  max-width: 80%;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid #cdad85;
}

td,
th {
  border: 2px solid #cdad85;
  padding: 10px;
}

th {
  background-color: #cdad85;
  color: #f9f4ea;
}

.blog-post {
  text-align: left;
}

/* Container */
.container {
  max-width: 800px;
  padding: 20px;
  background-color: #faf3e0;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}
