/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
  background-color: #faf3e0;
  color: #605f4b;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  color: #68756d;
  margin-bottom: 0.75em;
}

.main-heading {
  text-align: center;
}

a {
  color: #9c9e80;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar {
  background-color: none;
  color: #f9f4ea;
  border: none;
  padding: 20px 0px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}
button {
  background: transparent;
  color: #060707;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: transparent;
  color: #a1a79e;
}
.blog-button {
  background-color: #d2a96a;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.content-images {
  max-width: 80%;
}

/* Blog container: even grid */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Center the grid */
  padding: 20px;
  box-sizing: border-box; /* Ensure consistent sizing */
}

/* Blog post styling */
.blog-post {
  background: #a1a79e;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
}

.blog-post h2 {
  color: white;
  font-size: 1.2em;
  text-align: center; /* Center title */
}

.blog-post p {
  font-size: 0.9em;
  color: white;
  text-align: left; /* Left align text */
}

/* Fix width changes on screen resize */
.container {
  width: 100%; /* Allow full width */
  max-width: 1200px; /* Prevent over-expansion */
  margin: 0 auto;
  padding: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 920px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 921px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
