/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
  background-color: #faf3e0;
  color: #605f4b;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  color: #68756d;
  margin-bottom: 0.75em;
}

.main-heading {
  text-align: center;
}

a {
  color: #9c9e80;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar {
  background-color: none;
  color: #f9f4ea;
  border: none;
  padding: 20px 0px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}
button {
  background: transparent;
  color: #060707;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: transparent;
  color: #a1a79e;
}
.blog-button {
  background-color: #d2a96a;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.content-images {
  max-width: 80%;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #faf3e0;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.blog-post {
  background: #a1a79e;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.blog-post img {
  max-width: 60%;
  height: 100 px;
  object-fit: cover;
}

.blog-post h2 {
  color: white;
  font-size: 1.2em;
}

.blog-post p {
  font-size: 0.9em;
  color: white;
}

.blog-post a {
  display: inline-block;
  /* margin-top: 10px; */
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.blog-post a:hover {
  background-color: #d2a96a;
}

@media (max-width: 600px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    font-size: 16px;
    /* some layout rules */
  }
}
